@import 'layout/form';
@import 'layout/listContainer';
@import 'layout/noResults';

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

main {
  h1 {
    font-size: 30px;
    height: 35px;
    margin-bottom: 5px;
  }
}

